.container {
    margin: 20px auto;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.form-control {
    margin: 0 10px;
    padding: 10px;
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 12px;
}

.table th {
    background-color: #2d6a4f;
    color: white;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}

.no-match {
    margin: 20px;
    text-align: center;
    font-size: 18px;
    color: #d9534f;
}

.form-select {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chart-container {
    width: 80%;
    margin: 20px auto;
}

.chart {
    width: 100%;
}